# Antes de empezar:
- Lee el archivo README.md
- Comenta tanto como puedas y utiliza los recursos (archivo README.md)
- ¬°Feliz aprendizaje!

In [3]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Reto 1 - Explorando los Datos

En este reto, examinaremos todos los salarios de los empleados de la Ciudad de Chicago. Comenzaremos cargando el conjunto de datos y examinando su contenido.

In [7]:
ruta_principal = "/content/drive/MyDrive/IronHack/"
salaries = pd.read_csv(ruta_principal + "Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examina el conjunto de datos `salaries` utilizando la funci√≥n `head` que se muestra a continuaci√≥n.

In [8]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [9]:
salaries["Salary or Hourly"].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

In [10]:
salaries[salaries["Salary or Hourly"]=="Hourly"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 8022 entries, 4 to 33175
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               8022 non-null   object
 1   Job Titles         8022 non-null   object
 2   Department         8022 non-null   object
 3   Full or Part-Time  8022 non-null   object
 4   Salary or Hourly   8022 non-null   object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      0 non-null      float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 564.0+ KB

In [11]:
salaries[salaries["Salary or Hourly"]=="Salary"].info()

<class 'pandas.core.frame.DataFrame'>
Index: 25161 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               25161 non-null  object
 1   Job Titles         25161 non-null  object
 2   Department         25161 non-null  object
 3   Full or Part-Time  25161 non-null  object
 4   Salary or Hourly   25161 non-null  object
 5   Typical Hours      0 non-null      float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 1.7+ MB

In [12]:
print("Con las dos celdas anteriores descubrimos que no hay valores nulos individuales.")
print("‚Ä¢ Los nulos provienen de que HourlyRate y Typical Hours son nulos para los individuos que cobran salario")
print("‚Ä¢ Los nulos provienen de que Annual Salary son nulos para los individuos que cobran por horas")

Con las dos celdas anteriores descubrimos que no hay valores nulos individuales.
‚Ä¢ Los nulos provienen de que HourlyRate y Typical Hours son nulos para los individuos que cobran salario
‚Ä¢ Los nulos provienen de que Annual Salary son nulos para los individuos que cobran por horas

# Reto 2 - Pruebas de Hip√≥tesis

En esta secci√≥n del laboratorio, vamos a probar si el salario por hora de todos los trabajadores por hora es significativamente diferente de $30/hora. Importa la funci√≥n correcta para la prueba de una muestra desde scipy y realiza la prueba de hip√≥tesis para un intervalo de confianza de dos lados del 95%.

In [19]:
from scipy.stats import ttest_1samp

# Se seleccionan los salarios por hora
salarios = salaries[salaries["Salary or Hourly"]=="Hourly"]["Hourly Rate"]

# Se determinan las hip√≥tesis nula y alternativa
print("Hip√≥tesis nula (ùêª0): El salario promedio por hora es igual a $30/hora (Œº=30).")
print("Hip√≥tesis alternativa (ùêª1): El salario promedio por hora es diferente de $30/hora (ùúá‚â†30).\n")

# Prueba t
resultado = ttest_1samp(salarios, 30)

# Resultado de la prueba
print(f"El estad√≠stico t es {resultado.statistic} y el p valor es {resultado.pvalue}.")

# La prueba t se realiza con un nivel de significancia del 5% (equivalente a un intervalo de confianza del 95% para una prueba bilateral).
if resultado.pvalue < 1-0.95:
    print("Rechazamos la hip√≥tesis nula. El salario promedio por hora es significativamente diferente de $30/hora.")
else:
    print("No rechazamos la hip√≥tesis nula. No hay suficiente evidencia para concluir que el salario promedio por hora sea significativamente diferente de $30/hora.")

Hip√≥tesis nula (ùêª0): El salario promedio por hora es igual a $30/hora (Œº=30).
Hip√≥tesis alternativa (ùêª1): El salario promedio por hora es diferente de $30/hora (ùúá‚â†30).

El estad√≠stico t es 20.6198057854942 y el p valor es 4.3230240486229894e-92.
Rechazamos la hip√≥tesis nula. El salario promedio por hora es significativamente diferente de $30/hora.

El **estad√≠stico t** se calcula como:

$$t = \frac{\bar{X} - \mu}{\sigma / \sqrt{N}} $$

Siendo:

* $\bar{X}$: la media de la muestra,
* $\mu$: el valor de referencia (en este caso, $30/hora),

* $\sigma$: la desviaci√≥n est√°ndar de la muestra,
* $N$: el tama√±o de la muestra.

# Reto 3 - Construyendo Intervalos de Confianza

Aunque probar nuestra hip√≥tesis es una excelente manera de obtener evidencia emp√≠rica para aceptar o rechazar la hip√≥tesis, otra forma de recopilar evidencia es creando un intervalo de confianza. Un intervalo de confianza nos brinda informaci√≥n sobre la media verdadera de la poblaci√≥n. Por lo tanto, para un intervalo de confianza del 95%, estamos seguros en un 95% de que la media de la poblaci√≥n se encuentra dentro del intervalo de confianza.

Para leer m√°s sobre los intervalos de confianza, haz clic [aqu√≠](https://es.wikipedia.org/wiki/Intervalo_de_confianza).

En la celda a continuaci√≥n, construiremos un intervalo de confianza del 95% para el salario por hora medio de todos los trabajadores por hora.

El intervalo de confianza se calcula en SciPy utilizando la funci√≥n `t.interval`. Puedes leer m√°s sobre esta funci√≥n [aqu√≠](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

Para calcular el intervalo de confianza del salario por hora, usa 0.95 para el nivel de confianza, el n√∫mero de filas - 1 para los grados de libertad, la media de la muestra para el par√°metro de ubicaci√≥n y el error est√°ndar para la escala. El error est√°ndar se puede calcular utilizando [esta](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) funci√≥n en SciPy.

In [22]:
from scipy import stats

# Se seleccionan los salarios por hora
salarios = salaries[salaries["Salary or Hourly"]=="Hourly"]["Hourly Rate"]

# Par√°metros de la muestra
media = np.mean(salarios)
sem = stats.sem(salarios)
N = len(salarios)
grados_libertad = N - 1

# Calcular intervalo de confianza
intervalo_confianza = stats.t.interval(
    confidence=0.95,  # Nivel de confianza
    df=grados_libertad,
    loc=media,
    scale=sem  # Error est√°ndar de la media
)

intervalo_confianza

(32.52345834488425, 33.05365708767623)

In [24]:
print(f"En un 95% de confianza podemos decir que el salario por hora se encuentra entre {round(intervalo_confianza[0],2)}$ y {round(intervalo_confianza[1],2)}$.")

En un 95% de confianza podemos decir que el salario por hora se encuentra entre 32.52$ y 33.05$.

El **Error Est√°ndar de la Media** o *Standard Error of the Mean (SEM)* se calcula como:

$$SEM = \frac{\sigma}{\sqrt{N}} $$

Siendo:
* $\sigma$: la desviaci√≥n est√°ndar de la muestra.
* $N$: el tama√±o de la muestra.

# Reto 4 - Pruebas de Hip√≥tesis de Proporciones

Otro tipo de prueba de una muestra es una prueba de hip√≥tesis de proporciones. En esta prueba, examinamos si la proporci√≥n de un grupo en nuestra muestra es significativamente diferente de una fracci√≥n.

Puedes leer m√°s sobre las pruebas de proporci√≥n de una muestra [aqu√≠](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

En la celda a continuaci√≥n, utiliza la funci√≥n `proportions_ztest` de `statsmodels` para realizar una prueba de hip√≥tesis que determinar√° si el n√∫mero de trabajadores por hora en la Ciudad de Chicago es significativamente diferente del 25% en el nivel de confianza del 95%.

In [33]:
from statsmodels.stats.proportion import proportions_ztest

# Se seleccionan los salarios por hora
salarios = salaries[salaries["Salary or Hourly"]=="Hourly"]["Hourly Rate"]

# Datos y par√°metros
total = len(salaries) # N√∫mero total trabajadores en Chicago (poblaci√≥n observada)
muestra = len(salarios)   # Tama√±o total de la muestra por hora (muestra de los trabajadores por hora)
diferente = 0.25

# Prueba z de proporciones
statistic, p_value = proportions_ztest(muestra, total, value=diferente)

# Resultado de la prueba
print(f"El estad√≠stico z es {statistic} y el p valor es {p_value}.")

# La prueba t se realiza con un nivel de significancia del 5% (equivalente a un intervalo de confianza del 95% para una prueba bilateral).
if p_value < 1-0.95:
    print(f"Rechazamos la hip√≥tesis nula. Concluyendo que la proporci√≥n de trabajadores por hora en Chicago es significativamente diferente de {int(diferente*100)}%")
else:
    print(f"No rechazamos la hip√≥tesis nula. No hay suficiente evidencia para concluir que la proporci√≥n sea diferente de {int(diferente*100)}%.")

El estad√≠stico z es -3.5099964213703005 y el p valor es 0.0004481127249057967.
Rechazamos la hip√≥tesis nula. Concluyendo que la proporci√≥n de trabajadores por hora en Chicago es significativamente diferente de 25%

Es el estad√≠stico z, que mide cu√°ntas desviaciones est√°ndar est√° la proporci√≥n muestral del valor de referencia (0.25)